In [4]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.11/dist-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.11/dist-packages (from openpyxl) (2.0.0)

In [7]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
import glob

def read_and_merge_excels(folder_path):
    # Get all Excel file paths in the folder
    excel_files = glob.glob(f"{folder_path}/*.xlsx")  # Adjust for .xls if needed

    # List to store DataFrames
    dataframes = []

    # Read each Excel file
    for file in excel_files:
        df = pd.read_excel(file, engine="openpyxl")  # Use engine="xlrd" for .xls files
        dataframes.append(df)

    # Concatenate all DataFrames
    merged_df = pd.concat(dataframes, ignore_index=True)

    return merged_df

# Example usage
folder_path = "/content/drive/My Drive/AssessmentData"  # Update with your folder path
final_df = read_and_merge_excels(folder_path)

# Display first few rows
print(final_df.head())

               OrderId     OrderItemId  QuantityOrdered  ItemPrice  \
0  171-0001135-1657958  11168926687715                1      949.0
1  171-0001497-9165123  19760298917699                1      699.0
2  171-0002127-1363507   5949764099083                1      399.0
3  171-0002370-0601169  57571868836379                1      499.0
4  171-0004526-2028348  33851287891403                1     1699.0

                            PromotionDiscount  batch_id
0    { "CurrencyCode": "INR", "Amount": "10"}       359
1  { "CurrencyCode": "INR", "Amount": "10.1"}      1135
2    { "CurrencyCode": "INR", "Amount": "10"}       297
3  { "CurrencyCode": "INR", "Amount": "10.1"}       114
4    { "CurrencyCode": "INR", "Amount": "10"}       764

In [10]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("PandasToSpark").getOrCreate()

In [12]:
# 1. Combine the data from both regions into a single table.
df = spark.createDataFrame(final_df)
df.show(truncate=False)

+-------------------+--------------+---------------+---------+------------------------------------------+--------+
|OrderId            |OrderItemId   |QuantityOrdered|ItemPrice|PromotionDiscount                         |batch_id|
+-------------------+--------------+---------------+---------+------------------------------------------+--------+
|171-0001135-1657958|11168926687715|1              |949.0    |{ "CurrencyCode": "INR", "Amount": "10"}  |359     |
|171-0001497-9165123|19760298917699|1              |699.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|1135    |
|171-0002127-1363507|5949764099083 |1              |399.0    |{ "CurrencyCode": "INR", "Amount": "10"}  |297     |
|171-0002370-0601169|57571868836379|1              |499.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|114     |
|171-0004526-2028348|33851287891403|1              |1699.0   |{ "CurrencyCode": "INR", "Amount": "10"}  |764     |
|171-0004781-3853173|43686103544491|1              |399.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|809     |
|171-0004947-4305927|15941372058555|1              |1399.0   |{ "CurrencyCode": "INR", "Amount": "10"}  |15      |
|171-0004947-4305927|15941372058555|1              |1399.0   |{ "CurrencyCode": "INR", "Amount": "10.1"}|330     |
|171-0005467-8036365|33952397753619|1              |349.0    |{ "CurrencyCode": "INR", "Amount": "10"}  |868     |
|171-0006030-2254725|31456208605443|1              |499.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|1494    |
|171-0006682-9937168|2915892310475 |1              |549.0    |{ "CurrencyCode": "INR", "Amount": "10"}  |255     |
|171-0008037-3788355|22456900251507|1              |499.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|232     |
|171-0008659-1412343|45841722968955|1              |2899.0   |{ "CurrencyCode": "INR", "Amount": "10"}  |184     |
|171-0008662-0057942|66326653881907|1              |599.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|122     |
|171-0010322-1769977|47459215833307|1              |399.0    |{ "CurrencyCode": "INR", "Amount": "10"}  |676     |
|171-0010803-5365973|21135179938611|1              |299.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|669     |
|171-0011025-3910737|18207721515083|1              |1499.0   |{ "CurrencyCode": "INR", "Amount": "10"}  |821     |
|171-0015661-5525128|52322576555467|1              |1199.0   |{ "CurrencyCode": "INR", "Amount": "10.1"}|31      |
|171-0015668-5065935|8918074736283 |1              |699.0    |{ "CurrencyCode": "INR", "Amount": "10"}  |709     |
|171-0016430-9547521|3526651130627 |1              |499.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|325     |
+-------------------+--------------+---------------+---------+------------------------------------------+--------+
only showing top 20 rows

In [22]:
# 2. Add a column total_sales which is calculated as QuantityOrdered * ItemPrice.

from pyspark.sql.functions import col

df = df.withColumn('total_sales',col("QuantityOrdered")*col("ItemPrice") )
df.show(truncate=False)
df.count()

+-------------------+--------------+---------------+---------+------------------------------------------+--------+-----------+
|OrderId            |OrderItemId   |QuantityOrdered|ItemPrice|PromotionDiscount                         |batch_id|total_sales|
+-------------------+--------------+---------------+---------+------------------------------------------+--------+-----------+
|171-0001135-1657958|11168926687715|1              |949.0    |{ "CurrencyCode": "INR", "Amount": "10"}  |359     |949.0      |
|171-0001497-9165123|19760298917699|1              |699.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|1135    |699.0      |
|171-0002127-1363507|5949764099083 |1              |399.0    |{ "CurrencyCode": "INR", "Amount": "10"}  |297     |399.0      |
|171-0002370-0601169|57571868836379|1              |499.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|114     |499.0      |
|171-0004526-2028348|33851287891403|1              |1699.0   |{ "CurrencyCode": "INR", "Amount": "10"}  |764     |1699.0     |
|171-0004781-3853173|43686103544491|1              |399.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|809     |399.0      |
|171-0004947-4305927|15941372058555|1              |1399.0   |{ "CurrencyCode": "INR", "Amount": "10"}  |15      |1399.0     |
|171-0004947-4305927|15941372058555|1              |1399.0   |{ "CurrencyCode": "INR", "Amount": "10.1"}|330     |1399.0     |
|171-0005467-8036365|33952397753619|1              |349.0    |{ "CurrencyCode": "INR", "Amount": "10"}  |868     |349.0      |
|171-0006030-2254725|31456208605443|1              |499.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|1494    |499.0      |
|171-0006682-9937168|2915892310475 |1              |549.0    |{ "CurrencyCode": "INR", "Amount": "10"}  |255     |549.0      |
|171-0008037-3788355|22456900251507|1              |499.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|232     |499.0      |
|171-0008659-1412343|45841722968955|1              |2899.0   |{ "CurrencyCode": "INR", "Amount": "10"}  |184     |2899.0     |
|171-0008662-0057942|66326653881907|1              |599.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|122     |599.0      |
|171-0010322-1769977|47459215833307|1              |399.0    |{ "CurrencyCode": "INR", "Amount": "10"}  |676     |399.0      |
|171-0010803-5365973|21135179938611|1              |299.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|669     |299.0      |
|171-0011025-3910737|18207721515083|1              |1499.0   |{ "CurrencyCode": "INR", "Amount": "10"}  |821     |1499.0     |
|171-0015661-5525128|52322576555467|1              |1199.0   |{ "CurrencyCode": "INR", "Amount": "10.1"}|31      |1199.0     |
|171-0015668-5065935|8918074736283 |1              |699.0    |{ "CurrencyCode": "INR", "Amount": "10"}  |709     |699.0      |
|171-0016430-9547521|3526651130627 |1              |499.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|325     |499.0      |
+-------------------+--------------+---------------+---------+------------------------------------------+--------+-----------+
only showing top 20 rows

88988

In [23]:
# 3. Add a column region to identify the region of the sales record (A or B).

In [26]:
# 4. Ensure that there are no duplicate entries based on OrderId.
df = df.dropDuplicates(['OrderId'])
df.show(truncate=False)
df.count()

+-------------------+--------------+---------------+---------+------------------------------------------+--------+-----------+
|OrderId            |OrderItemId   |QuantityOrdered|ItemPrice|PromotionDiscount                         |batch_id|total_sales|
+-------------------+--------------+---------------+---------+------------------------------------------+--------+-----------+
|171-0001135-1657958|11168926687715|1              |949.0    |{ "CurrencyCode": "INR", "Amount": "10"}  |359     |949.0      |
|171-0002127-1363507|5949764099083 |1              |399.0    |{ "CurrencyCode": "INR", "Amount": "10"}  |297     |399.0      |
|171-0004781-3853173|43686103544491|1              |399.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|809     |399.0      |
|171-0004947-4305927|15941372058555|1              |1399.0   |{ "CurrencyCode": "INR", "Amount": "10"}  |15      |1399.0     |
|171-0006030-2254725|31456208605443|1              |499.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|1494    |499.0      |
|171-0006682-9937168|2915892310475 |1              |549.0    |{ "CurrencyCode": "INR", "Amount": "10"}  |255     |549.0      |
|171-0008037-3788355|22456900251507|1              |499.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|232     |499.0      |
|171-0008659-1412343|45841722968955|1              |2899.0   |{ "CurrencyCode": "INR", "Amount": "10"}  |184     |2899.0     |
|171-0008662-0057942|66326653881907|1              |599.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|122     |599.0      |
|171-0010803-5365973|21135179938611|1              |299.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|669     |299.0      |
|171-0015668-5065935|8918074736283 |1              |699.0    |{ "CurrencyCode": "INR", "Amount": "10"}  |709     |699.0      |
|171-0016430-9547521|3526651130627 |1              |499.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|325     |499.0      |
|171-0017311-5318712|64258514309019|1              |699.0    |{ "CurrencyCode": "INR", "Amount": "10"}  |577     |699.0      |
|171-0018345-8874731|59365948515931|1              |599.0    |{ "CurrencyCode": "INR", "Amount": "10"}  |150     |599.0      |
|171-0020871-3057976|31639315030563|1              |1139.0   |{ "CurrencyCode": "INR", "Amount": "10.1"}|296     |1139.0     |
|171-0021483-3525174|64370725651027|1              |1599.0   |{ "CurrencyCode": "INR", "Amount": "10"}  |911     |1599.0     |
|171-0022424-6354758|25431618871923|1              |949.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|874     |949.0      |
|171-0022807-7934716|5924271021683 |1              |999.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|1329    |999.0      |
|171-0023912-2838777|12927344177755|1              |499.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|910     |499.0      |
|171-0024838-4383551|28167659511651|1              |629.0    |{ "CurrencyCode": "INR", "Amount": "10"}  |560     |629.0      |
+-------------------+--------------+---------------+---------+------------------------------------------+--------+-----------+
only showing top 20 rows

41107

In [27]:
df.printSchema()

root
 |-- OrderId: string (nullable = true)
 |-- OrderItemId: long (nullable = true)
 |-- QuantityOrdered: long (nullable = true)
 |-- ItemPrice: double (nullable = true)
 |-- PromotionDiscount: string (nullable = true)
 |-- batch_id: long (nullable = true)
 |-- total_sales: double (nullable = true)

In [29]:
# 5. Add a new column net_sale, calculated as total_sales - PromotionDiscount.

from pyspark.sql.functions import get_json_object
df = df.withColumn("PromotionDiscountValue", get_json_object(col("PromotionDiscount"), "$.Amount").cast("double"))

df = df.withColumn("net_sale", col("total_sales") - col("PromotionDiscountValue"))
df.show(truncate=False)
df.count()

+-------------------+--------------+---------------+---------+------------------------------------------+--------+-----------+----------------------+--------+
|OrderId            |OrderItemId   |QuantityOrdered|ItemPrice|PromotionDiscount                         |batch_id|total_sales|PromotionDiscountValue|net_sale|
+-------------------+--------------+---------------+---------+------------------------------------------+--------+-----------+----------------------+--------+
|171-0001135-1657958|11168926687715|1              |949.0    |{ "CurrencyCode": "INR", "Amount": "10"}  |359     |949.0      |10.0                  |939.0   |
|171-0002127-1363507|5949764099083 |1              |399.0    |{ "CurrencyCode": "INR", "Amount": "10"}  |297     |399.0      |10.0                  |389.0   |
|171-0004781-3853173|43686103544491|1              |399.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|809     |399.0      |10.1                  |388.9   |
|171-0004947-4305927|15941372058555|1              |1399.0   |{ "CurrencyCode": "INR", "Amount": "10"}  |15      |1399.0     |10.0                  |1389.0  |
|171-0006030-2254725|31456208605443|1              |499.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|1494    |499.0      |10.1                  |488.9   |
|171-0006682-9937168|2915892310475 |1              |549.0    |{ "CurrencyCode": "INR", "Amount": "10"}  |255     |549.0      |10.0                  |539.0   |
|171-0008037-3788355|22456900251507|1              |499.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|232     |499.0      |10.1                  |488.9   |
|171-0008659-1412343|45841722968955|1              |2899.0   |{ "CurrencyCode": "INR", "Amount": "10"}  |184     |2899.0     |10.0                  |2889.0  |
|171-0008662-0057942|66326653881907|1              |599.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|122     |599.0      |10.1                  |588.9   |
|171-0010803-5365973|21135179938611|1              |299.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|669     |299.0      |10.1                  |288.9   |
|171-0015668-5065935|8918074736283 |1              |699.0    |{ "CurrencyCode": "INR", "Amount": "10"}  |709     |699.0      |10.0                  |689.0   |
|171-0016430-9547521|3526651130627 |1              |499.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|325     |499.0      |10.1                  |488.9   |
|171-0017311-5318712|64258514309019|1              |699.0    |{ "CurrencyCode": "INR", "Amount": "10"}  |577     |699.0      |10.0                  |689.0   |
|171-0018345-8874731|59365948515931|1              |599.0    |{ "CurrencyCode": "INR", "Amount": "10"}  |150     |599.0      |10.0                  |589.0   |
|171-0020871-3057976|31639315030563|1              |1139.0   |{ "CurrencyCode": "INR", "Amount": "10.1"}|296     |1139.0     |10.1                  |1128.9  |
|171-0021483-3525174|64370725651027|1              |1599.0   |{ "CurrencyCode": "INR", "Amount": "10"}  |911     |1599.0     |10.0                  |1589.0  |
|171-0022424-6354758|25431618871923|1              |949.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|874     |949.0      |10.1                  |938.9   |
|171-0022807-7934716|5924271021683 |1              |999.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|1329    |999.0      |10.1                  |988.9   |
|171-0023912-2838777|12927344177755|1              |499.0    |{ "CurrencyCode": "INR", "Amount": "10.1"}|910     |499.0      |10.1                  |488.9   |
|171-0024838-4383551|28167659511651|1              |629.0    |{ "CurrencyCode": "INR", "Amount": "10"}  |560     |629.0      |10.0                  |619.0   |
+-------------------+--------------+---------------+---------+------------------------------------------+--------+-----------+----------------------+--------+
only showing top 20 rows

41107

In [32]:
# 6. Exclude orders where the total sales amount is negative or zero after applying discounts.

df = df.filter(col("net_sale") > 0)
df.show()

+-------------------+--------------+---------------+---------+--------------------+--------+-----------+----------------------+--------+
|            OrderId|   OrderItemId|QuantityOrdered|ItemPrice|   PromotionDiscount|batch_id|total_sales|PromotionDiscountValue|net_sale|
+-------------------+--------------+---------------+---------+--------------------+--------+-----------+----------------------+--------+
|171-0001135-1657958|11168926687715|              1|    949.0|{ "CurrencyCode":...|     359|      949.0|                  10.0|   939.0|
|171-0002127-1363507| 5949764099083|              1|    399.0|{ "CurrencyCode":...|     297|      399.0|                  10.0|   389.0|
|171-0004781-3853173|43686103544491|              1|    399.0|{ "CurrencyCode":...|     809|      399.0|                  10.1|   388.9|
|171-0004947-4305927|15941372058555|              1|   1399.0|{ "CurrencyCode":...|      15|     1399.0|                  10.0|  1389.0|
|171-0006030-2254725|31456208605443|              1|    499.0|{ "CurrencyCode":...|    1494|      499.0|                  10.1|   488.9|
|171-0006682-9937168| 2915892310475|              1|    549.0|{ "CurrencyCode":...|     255|      549.0|                  10.0|   539.0|
|171-0008037-3788355|22456900251507|              1|    499.0|{ "CurrencyCode":...|     232|      499.0|                  10.1|   488.9|
|171-0008659-1412343|45841722968955|              1|   2899.0|{ "CurrencyCode":...|     184|     2899.0|                  10.0|  2889.0|
|171-0008662-0057942|66326653881907|              1|    599.0|{ "CurrencyCode":...|     122|      599.0|                  10.1|   588.9|
|171-0010803-5365973|21135179938611|              1|    299.0|{ "CurrencyCode":...|     669|      299.0|                  10.1|   288.9|
|171-0015668-5065935| 8918074736283|              1|    699.0|{ "CurrencyCode":...|     709|      699.0|                  10.0|   689.0|
|171-0016430-9547521| 3526651130627|              1|    499.0|{ "CurrencyCode":...|     325|      499.0|                  10.1|   488.9|
|171-0017311-5318712|64258514309019|              1|    699.0|{ "CurrencyCode":...|     577|      699.0|                  10.0|   689.0|
|171-0018345-8874731|59365948515931|              1|    599.0|{ "CurrencyCode":...|     150|      599.0|                  10.0|   589.0|
|171-0020871-3057976|31639315030563|              1|   1139.0|{ "CurrencyCode":...|     296|     1139.0|                  10.1|  1128.9|
|171-0021483-3525174|64370725651027|              1|   1599.0|{ "CurrencyCode":...|     911|     1599.0|                  10.0|  1589.0|
|171-0022424-6354758|25431618871923|              1|    949.0|{ "CurrencyCode":...|     874|      949.0|                  10.1|   938.9|
|171-0022807-7934716| 5924271021683|              1|    999.0|{ "CurrencyCode":...|    1329|      999.0|                  10.1|   988.9|
|171-0023912-2838777|12927344177755|              1|    499.0|{ "CurrencyCode":...|     910|      499.0|                  10.1|   488.9|
|171-0024838-4383551|28167659511651|              1|    629.0|{ "CurrencyCode":...|     560|      629.0|                  10.0|   619.0|
+-------------------+--------------+---------------+---------+--------------------+--------+-----------+----------------------+--------+
only showing top 20 rows

In [34]:
# 7. Load the transformed data into a the database of your choice.
import sqlite3
conn = sqlite3.connect("orders.db")

In [36]:
pdf = df.toPandas()
pdf.to_sql("orders", conn, if_exists="replace", index=False)
conn.close()